.block {
    width: 100%;
    height: 100%;
}

.EventsSwiper {
    position: relative;
}

.EventsSwiper a {
    text-decoration: none;
    color: #333;
}

.EventsSwiper li {
    list-style: none;
}

.swiper1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border-bottom: 1px solid #d6d6d6; */
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.EventsSwiper .swiper-pagination {
    position: absolute;
    bottom: 0%;
    margin-bottom: 20px;
    /* z-index: 33; */
}

.EventsSwiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.EventsSwiper .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.EventsSwiper .swiper-button-next,
.EventsSwiper .swiper-button-prev {
    color: #a2cfff;
    opacity: .3;
    transition: 0.3s all ease-in-out;
}

.EventsSwiper .swiper-button-next:hover,
.EventsSwiper .swiper-button-prev:hover {
    opacity: 1;
}

.EventsSwiper .img_div {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.EventsSwiper .img_div img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    float: left;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.EventsSwiper .img_div a:hover img {
    transform: scale(1.2);
}

.EventsSwiper .text_div {
    width: 100%;
    height: 40%;
}

.EventsSwiper .text_div .headlines {
    display: block;
    font-size: 8px;
    color: rgb(0, 123, 255);
    margin-top: 15px;
}

.EventsSwiper .text_div a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    transition: 0.3s all ease-in-out;
}

.EventsSwiper .text_div a:hover {
    color: rgb(0, 123, 255);
}

.EventsSwiper .text_div a span {
    font-size: 25px;
}

.EventsSwiper .text_div .text {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 13px;
    text-indent: 2em;
}

.EventsSwiper .Events-next {
    position: absolute;
    bottom: 0;
    background-color: black;
}

.Events-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.Events-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.EventsSwiper .notification {
    position: absolute;
    right: -320px;
    top: 0;
    width: 280px;
}

.EventsSwiper .recommendation {
    position: absolute;
    left: -320px;
    top: 0;
    width: 280px;
    height: 100px;
}

.EventsSwiper .notification .tag,
.EventsSwiper .recommendation .tag {
    color: #333;
    font-size: 16px;
    margin-right: 5px;
}

.EventsSwiper .notification .eng,
.EventsSwiper .recommendation .eng {
    font-size: 15px;
}

.EventsSwiper .notification .tag,
.EventsSwiper .recommendation .tag {
    word-wrap: break-word;
}

.EventsSwiper .notification .img_div,
.EventsSwiper .recommendation .img_div {
    width: 280px;
    height: 170px;
    overflow: hidden;
    margin-bottom: 20px;
}

.EventsSwiper .notification img,
.EventsSwiper .recommendation img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.EventsSwiper .notification li,
.EventsSwiper .recommendation li {
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    border-bottom: 1px solid #dedede;
    word-wrap: break-word;
}

.EventsSwiper .notification li a:hover img,
.EventsSwiper .recommendation li a:hover img {
    transform: scale(1.2);
}

.EventsSwiper .recommendation li a,
.EventsSwiper .notification li a {
    font-weight: 700;
    color: #000;
    transition: all .3s ease-in-out;
}

.EventsSwiper .recommendation li a:hover,
.EventsSwiper .notification li a:hover {
    color: rgb(0, 123, 255);
}